---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - Carolina Dota" description="Learn more about Carolina Dota">
  <h1>About Me</h1>
  
  <p>
    hello! i'm carolina, this is the about me section. everything is a work in progress.
  </p>
  
  <p>
    please be nice.
  </p>
  
  <h2>skills & technologies</h2>
  
  <ul>
    <li>Astro</li>
    <li>JavaScript</li>
    <li>Dart</li>
    <li>Golang</li>
  </ul>
  
  <h2>experience</h2>
  
  <p>
    I have experience in Healthcare IT.
  </p>
  
  <h2>education</h2>
  
  <p>
    Associates Degree in Computer Programming from Gwinnett Technical College.
  </p>
</Layout>
