---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Carolina Dota">

  <h1>Carolina Dota</h1>

  <p>hello :3</p>
  
  <h2>interests that may pertain to me:</h2>
  
  <ul>
    <li>programming languages (javascript, dart, golang)</li>
    <li>dota 2 (video game)</li>
    <li>currently a neet but I am going back to school for a bachelor's degree in microbiology</li>
  </ul>
  
  <h2>misc info</h2>
  
  <ul>
    <li>tools i use: cursor, git</li>
    <li>location: I live in Portland but I am willing to relocate to Seattle or San Francisco.</li>
  </ul>
</Layout>
