---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Carolina Dota">
  <h1>Carolina</h1>
  
  <p>basic information about me and some of my work</p>
  
  <h2>interests include but are not limited to:</h2>
  
  <ul>
    <li>web development (frontend, backend, full-stack applications)</li>
    <li>user experience design (interface design, user research, accessibility)</li>
    <li>programming languages (javascript, typescript, python, rust)</li>
    <li>currently working in software development</li>
  </ul>
  
  <h2>misc info</h2>
  
  <ul>
    <li>tools i use: vscode, git, node.js, astro, react, tailwind css</li>
    <li>location: based in the united states</li>
  </ul>
  
  <h2>links</h2>
  
  <p>you may want to check out the about section, or the contact page</p>
  
  <p>maybe follow my <a href="https://github.com/carolinadota" target="_blank">github</a> for more frequent updates</p>
  
  <h2>contact me</h2>
  
  <p>email provided in contact page, others possible on request</p>
</Layout>
